.section {
    padding: 0;
    padding-top: 0;
    background: var(--color-white);
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    display: flex;
    align-items: center;
    gap: var(--spacing-3xl);
}

.content {
    /* flex: 1; */
    /* padding-top: var(--spacing-xl); */
    width: 40%;
}

.title {
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-sm);
}

.textBlock {
    font-size: 1.125rem;
    line-height: 25px;
    color: var(--color-text-secondary);
}

.textBlock p {
    line-height: 25px;
    letter-spacing: 0%;
    /* margin-bottom: var(--spacing-md); */
}

.list {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    list-style: none;
    padding: 0;
    line-height: 25px;
    letter-spacing: 0%;
}

.imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imageWrapper img {
    max-width: 100%;
    height: 394px;
    object-fit: contain;
    rotate: -5.5deg;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: var(--spacing-xl);
    }

    .content {
        text-align: center;
    }
}