.section {
    position: relative;
    padding: var(--spacing-3xl) 0;
    background-image: url('/Shared-Success.jpg');
    /* Using hero2.jpg as placeholder for handshake image */
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    height: 735;
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(90deg, #00000000 0%, #000000); */
    z-index: 1;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 14.31%, #000000 96.67%);

}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    position: relative;
    z-index: 2;
    width: 100%;
}

.content {
    max-width: 600px;
}

.title {
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-sm);
    line-height: 100%;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: var(--spacing-xs);
    opacity: 0.9;
}

.list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
}

.list li {
    margin-bottom: var(--spacing-xs);
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
}